body {
    background-color: rgb(240, 240, 240);
    font-family: "HarmonyOS Sans Medium", Monaco, "Courier New", Courier, monospace;
    overflow: auto;
}

.container-fluid {
    padding-top: 70px;
}

.sidebar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 255px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
}

.sidebar a {
    text-indent: 7px;
    padding: 20px 8px 20px 32px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 18px;
    color: dimgray;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgb(230, 230, 230);
}


.sidebar[state="open"] {
    left: 0;
}

.sidebar[state="closed"] {
    left: -255px;
}

.logo {
    position: absolute;
    content: '';
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    left: 40px;
    top: 15px;
    width: 150px;
    height: 50px;
}


#togglebtn:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.main[state="default"] {
    position: absolute;
    top: 0;
    margin-left: 255px; /* Same as the width of the sidebar */
    transition: margin-left 0.5s;
    padding: 0;

}

.main[state="fullscreen"] {
    position: absolute;
    top: 0;
    margin-left: 0; /* Same as the width of the sidebar */
    transition: margin-left 0.5s;
    width: 100%;
    padding: 0;

}

.main .container {
    transition: width 0.5s;
}


/* 在折叠状态下隐藏菜单文字 */
@media screen and (max-height: 450px) {
    .sidebar a {
        font-size: 18px;
    }

}